# Operating System files
.DS_Store
Thumbs.db

# Editor and IDE specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Docker
.dockerignore
docker-compose.override.yml

# Local environment files
.env
.env*.local 